<!DOCTYPE HTML>
<html>
<head>
<title><%=title%></title>
</head>
<body>
  <a href="/genshin">Genshin Impact - Heal & Baffs</a>
  <a href="/counter">Counter</a>
  <a href="/lollipops">Lollipops</a>
</body>
</html>
