<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Nyanpasu</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
    
    <script src="https://kit.fontawesome.com/dccbc422ac.js"></script>
    
</head>
<body style="padding: 0; margin: 0;">
    <div id="app">
<!--        <h2 class="text-center mt-2">Genshin</h2>-->

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="TableHeal-tab" data-toggle="tab" href="#TableHeal" role="tab" aria-controls="TableHeal" aria-selected="true">Таблица хила и баффов (не особо нужная уже)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="SoftForWish-tab" data-toggle="tab" href="#SoftForWish" role="tab" aria-controls="SoftForWish" aria-selected="false">Прога для получения ссылки круток 1 кликом</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="wish-tab" data-toggle="tab" href="#wish" role="tab" aria-controls="wish" aria-selected="false">Пожелания для опроса</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="links-tab" data-toggle="tab" href="#links" role="tab" aria-controls="links" aria-selected="false">Полезные ссылки</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="keki-tab" data-toggle="tab" href="#keki" role="tab" aria-controls="keki" aria-selected="false">Сколько примогемов мы получаем</a>
            </li>
<!--
            <li class="nav-item">
                <a class="nav-link disabled" id="builds-tab" data-toggle="tab" href="#builds" role="tab" aria-controls="builds" aria-selected="false">Билды</a>
            </li>
-->
            <li class="nav-item">
                <a class="nav-link" id="videos-tab" data-toggle="tab" href="#videos" role="tab" aria-controls="videos" aria-selected="false">Видосы</a>
            </li>
        </ul>
        
        
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="TableHeal" role="tabpanel" aria-labelledby="TableHeal-tab">
            
        <div class="content row ml-0">
<!--           ФОРМА             -->
            <div class="col-md-3 col-12 mt-5">
                <label for="chara">Перс</label>
                <select class="form-control" v-model="char" id="chara">
                    <option value=""></option>
                    <option value="Barbara">Барбара</option>
                    <option value="Bennett">Беннет</option>
                    <option value="Jean">Джин</option>
                    <option value="Diona">Диона</option>
                    <option value="Noelle">Ноэль</option>
                    <option value="Sara">Сара</option>
                    <option value="Sayu">Саю</option>
                    <option value="Xingqiu">Син Цю</option>
                    <option value="Qiqi">Ци Ци</option>
                    <option value="Zhongli">Чжун Ли (дед)</option>
                    <option value="Shenhe">Шень Хе</option>
                    <option value="Yun Jin">Юнь Цзинь</option>
                </select>
                
                <div v-if="char == 'Diona' || char == 'Barbara' || char == 'Zhongli' || char == 'Xingqiu' || char == 'Bennett' || char == 'Yun Jin'">
                    <label for="hp">HP</label>
                    <input type="number" class="form-control" v-model="hp" id="hp">
                </div>
                
                <div v-if="char == 'Jean' || char == 'Qiqi' || char == 'Sara' || char == 'Sayu' || char == 'Bennett' || char == 'Shenhe'">
                    <label for="ap">Сила Атаки <span v-if="char == 'Sara' || char == 'Bennett'" class="text-danger">(базовая)</span> </label>
                    <input type="number" class="form-control" v-model="at" id="ap">
                </div>

                <div v-if="char == 'Noelle' || char == 'Yun Jin'">
                    <label for="def">Защита</label>
                    <input type="number" class="form-control" v-model="def" id="def">
                </div>
                
                <div v-if="char == 'Sayu'">
                    <label for="moe">Мастерство стихий</label>
                    <input type="number" class="form-control" v-model="moe" id="moe">
                </div>
                
                <div v-if="char != 'Sara' && char != 'Yun Jin' && char != 'Shenhe' && char != 'Zhongli' && char != 'Bennett' && char != ''">
                    <label for="bh">Бонус лечения <span class="text-danger">база перса или с сета артов (юная дева)</span></label>
                    <input type="number" class="form-control" v-model="bonusHeal" id="bh">

                    <label for="brh">Бонус получаемого лечения <span class="text-danger">(тиммейтов)</span></label>
                    <input type="number" class="form-control" v-model="bonusRecHeal" id="brh">
                </div>
                <div v-if="char == 'Barbara' && char != 'Yun Jin' && char != 'Shenhe' && char != 'Zhongli' && char != 'Bennett' && char != ''">
                    <label for="brhr">Бонус получаемого лечения <span class="text-info">с резонансом</span> <span class="text-danger">(тиммейтов)</span></label>
                    <input type="number" class="form-control" v-model="bonusRecHealResonance" id="brhr">
                </div>

                <hr v-if="char != ''">
                
                <div v-if="char != 'Jean' && char != 'Sayu' && char != 'Bennett' && char != 'Xingqiu' && char != ''">
                    <label for="e">Е-шка</label>
                    <input type="number" class="form-control" v-model="talantE" min="1" max="13" id="e">
                </div>
                
                <div v-if="char == 'Diona' || char == 'Barbara' || char == 'Bennett' || char == 'Jean' || char == 'Sayu' || char == 'Yun Jin' && char != 'Xingqiu'">
                    <label for="q">Ульта</label>
                    <input type="number" class="form-control" v-model="talantQ" min="1" max="13" id="q">
                </div>
                
                <div v-if="char == 'Diona' || char == 'Sara' || char == 'Shenhe' || char == 'Bennett'">
                    <hr>
                    <label for="con">Созвездий</label>
                    <input type="number" class="form-control" v-model="constellation" min="0" max="6" id="con">
                </div>
                
                <button class="btn btn-success mt-3 mx-auto" @click="SaveCharInfo()" v-if="char != ''"><i class="fa fa-save"></i> Сохранить статы перса</button>
                <button class="btn btn-info mt-3 mx-auto" @click="LoadCharInfo()" v-if="char != ''"><i class="fa fa-download"></i> Загрузить статы перса</button>
                <hr>
                <button class="btn btn-success mt-3" @click="ShowAll()"><i class="fa fa-search"></i> Показать все</button>
            </div>
<!--            КОНЕЦ ФОРМЫ             -->
<!--           ТАБЛИЦЫ                 -->
            <div class="col-md-6 col-12 mt-5">
                <table v-if="char == 'Barbara'" class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Хил за тычку</th>
                            <th scope="col">Заряженка</th>
                            <th scope="col">Регенерация</th>
                            <th scope="col">Ульта</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Хилит</td>
                            <td>{{ HealPerAtck.toFixed(0) }}</td>
                            <td>{{ HealPerAtck.toFixed(0) * 4 }}</td>
                            <td>{{ HealPerTick.toFixed(0) }}</td>
                            <td>{{ Heal.toFixed(0) }}</td>
                        </tr>

                        <tr>
                            <td>Получаемый хил</td>
                            <td>{{ HealRecPerAtck.toFixed(0) }}</td>
                            <td>{{ HealRecPerAtck.toFixed(0) * 4 }}</td>
                            <td>{{ HealRecPerTick.toFixed(0) }}</td>
                            <td>{{ HealRec.toFixed(0) }}</td>
                        </tr>
                        <tr>
                            <td>Получаемый хил с резонансом</td>
                            <td>{{ HealRecPerAtckResonance.toFixed(0) }}</td>
                            <td>{{ HealRecPerAtckResonance.toFixed(0) * 4 }}</td>
                            <td>{{ HealRecPerTickResonance.toFixed(0) }}</td>
                            <td>{{ HealRecResonance.toFixed(0) }}</td>
                        </tr>
                        <tr>
                            <td>Получаемый хил только с резонансом</td>
                            <td>{{ HealRecOnlyPerAtckResonance.toFixed(0) }}</td>
                            <td>{{ HealRecOnlyPerAtckResonance.toFixed(0) * 4 }}</td>
                            <td>{{ HealRecOnlyPerTickResonance.toFixed(0) }}</td>
                            <td>{{ HealRecOnlyResonance.toFixed(0) }}</td>
                        </tr>
                    </tbody>
                 </table>
                
                <table v-if="char == 'Bennett'" class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Хил за тик ульты (секунда)</th>
                            <th scope="col">Бафф</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ HealPerTick.toFixed(0) }}</td>
                            <td>{{ AP.toFixed(0) }}</td>
                        </tr>
                    </tbody>
                 </table>
                
                <table v-if="char == 'Jean'" class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Хил с тычки</th>
                            <th scope="col">Хил с ульты</th>
                            <th scope="col">Хил с ульты в сек</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Хилит</td>
                            <td>{{ HealPerAtck.toFixed(0) }}</td>
                            <td>{{ Heal.toFixed(0) }}</td>
                            <td>{{ HealPerTick.toFixed(0) }}</td>
                        </tr>
                        <tr>
                            <td>Получаемый хил</td>
                            <td>{{ HealRecPerAtck.toFixed(0) }}</td>
                            <td>{{ HealRec.toFixed(0) }}</td>
                            <td>{{ HealRecPerTick.toFixed(0) }}</td>
                        </tr>
                    </tbody>
                 </table>
                
                <table v-if="char == 'Diona'" class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Щит</th>
                            <th scope="col">Долгий щит</th>
                            <th scope="col">Периодический хил</th>
                            <th scope="col">Получаемый хил</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ Shield.toFixed(0) }}</td>
                            <td>{{ LongShield.toFixed(0) }}</td>
                            <td>{{ HealPerTick.toFixed(0) }}</td>
                            <td>{{ HealRecPerTick.toFixed(0) }}</td>
                        </tr>
                    </tbody>
                 </table>
                 
                <table v-if="char == 'Noelle'" class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Щит</th>
                            <th scope="col">Хил с тычки</th>
                            <th scope="col">Получаемый хил с тычки</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ Shield.toFixed(0) }}</td>
                            <td>{{ HealPerAtck.toFixed(0) }}</td>
                            <td>{{ HealRecPerAtck.toFixed(0) }}</td>
                        </tr>
                    </tbody>
                 </table>
                
                <table v-if="char == 'Sara'" class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Бафф Силы Атаки</th>
                            <th scope="col">Бафф Электро Крита</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ AP.toFixed(0) }}</td>
                            <td>{{ CE.toFixed(0) }}%</td>
                        </tr>
                    </tbody>
                 </table>
                
                <table v-if="char == 'Sayu'" class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Хил с ульты</th>
                            <th scope="col">Хил с ульты в сек</th>
                            <th scope="col">Рассеивание</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Хилит</td>
                            <td>{{ Heal.toFixed(0) }}</td>
                            <td>{{ HealPerTick.toFixed(0) }}</td>
                            <td>{{ HealPerAtck.toFixed(0) }}</td>
                        </tr>
                        <tr>
                            <td>Получаемый хил</td>
                            <td>{{ HealRec.toFixed(0) }}</td>
                            <td>{{ HealRecPerTick.toFixed(0) }}</td>
                            <td>{{ HealRecPerAtck.toFixed(0) }}</td>
                        </tr>
                    </tbody>
                 </table>
                
                <table v-if="char == 'Xingqiu'" class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Хил после окончания E или Q</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Хилит</td>
                            <td>{{ Heal.toFixed(0) }} за меч</td>
                        </tr>
                        <tr>
                            <td>Получаемый хил</td>
                            <td>{{ HealRec.toFixed(0) }} за меч</td>
                        </tr>
                    </tbody>
                 </table>
                
                <table v-if="char == 'Qiqi'" class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Хил с тычки</th>
                            <th scope="col">Регенерация</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Хилит</td>
                            <td>{{ HealPerAtck.toFixed(0) }}</td>
                            <td>{{ Heal.toFixed(0) }}</td>
                        </tr>
                        <tr>
                            <td>Получаемый хил</td>
                            <td>{{ HealRecPerAtck.toFixed(0) }}</td>
                            <td>{{ HealRec.toFixed(0) }}</td>
                        </tr>
                    </tbody>
                 </table>
                
                <table v-if="char == 'Zhongli'" class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Щит</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ Shield.toFixed(0) }}</td>
                        </tr>
                    </tbody>
                 </table>
                 
                <table v-if="char == 'Shenhe'" class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Бафф крио урона</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ CE.toFixed(0) }} + 15% атаки или ешка/ульта</td>
                        </tr>
                    </tbody>
                 </table>
                 
                <table v-if="char == 'Yun Jin'" class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Щит</th>
                            <th scope="col">Бафф урона</th>
                            <th scope="col">Бафф пассивки</th>
                            <th scope="col">Сумма баффов</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ Shield.toFixed(0) }}</td>
                            <td>{{ AP.toFixed(0) }}</td>
                            <td>{{ t1.toFixed(0) }} / {{ t2.toFixed(0) }} / {{ t3.toFixed(0) }} / {{ t4.toFixed(0) }}</td>
                            <td>{{ (+AP + t1).toFixed(0) }} / {{ (+AP + t2).toFixed(0) }} / {{ (+AP + t3).toFixed(0) }} / {{ (+AP + t4).toFixed(0) }}</td>
                        </tr>
                    </tbody>
                 </table>
                 
                 
            </div>
<!--            КОНЕЦ ТАБЛИЦ                -->
<!--           ОБЩАЯ ТАБЛИЦА                -->
            <div class="col-md-12 col-12 mt-5">
                <table v-if="showAll" class="table table-hover" style="font-size: 0.88rem">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">Перс</th>
                            <th scope="col" class="text-center">Хил за тычку</th>
                            <th scope="col" class="text-center">Заряженка</th>
                            <th scope="col" class="text-center">Регенерация (ЕШКИ)</th>
                            <th scope="col" class="text-center">Хил с УЛЬТЫ</th>
                            <th scope="col" class="text-center">Периодический хил с УЛЬТЫ</th>
                            <th scope="col" class="text-center">Щит</th>
                            <th scope="col" class="text-center">Долгий щит</th>
                            <th scope="col" class="text-center">Бафф</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="background: #87a2cb">
                            <td><b>Барбара</b></td>
                            <td class="text-center">{{ Barbara.HealPerAtck.toFixed(0) }}</td>
                            <td class="text-center">{{ Barbara.HealPerAtck.toFixed(0) * 4 }}</td>
                            <td class="text-center">{{ Barbara.HealPerTick.toFixed(0) }}</td>
                            <td class="text-center">{{ Barbara.Heal.toFixed(0) }}</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                        </tr>
                        <tr style="background: #87a2cb">
                            <td class="text-center">Получаемый</td>
                            <td class="text-center">{{ Barbara.HealRecPerAtck.toFixed(0) }}</td>
                            <td class="text-center">{{ Barbara.HealRecPerAtck.toFixed(0) * 4 }}</td>
                            <td class="text-center">{{ Barbara.HealRecPerTick.toFixed(0) }}</td>
                            <td class="text-center">{{ Barbara.HealRec.toFixed(0) }}</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                        </tr>
                        <tr style="background: #87a2cb">
                            <td class="text-center">Получаемый с резонансом</td>
                            <td class="text-center">{{ Barbara.HealRecPerAtckResonance.toFixed(0) }}</td>
                            <td class="text-center">{{ Barbara.HealRecPerAtckResonance.toFixed(0) * 4 }}</td>
                            <td class="text-center">{{ Barbara.HealRecPerTickResonance.toFixed(0) }}</td>
                            <td class="text-center">{{ Barbara.HealRecResonance.toFixed(0) }}</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                        </tr>
                        <tr style="background: #87a2cb">
                            <td class="text-center">Получаемый только резонанс</td>
                            <td class="text-center">{{ Barbara.HealRecOnlyPerAtckResonance.toFixed(0) }}</td>
                            <td class="text-center">{{ Barbara.HealRecOnlyPerAtckResonance.toFixed(0) * 4 }}</td>
                            <td class="text-center">{{ Barbara.HealRecOnlyPerTickResonance.toFixed(0) }}</td>
                            <td class="text-center">{{ Barbara.HealRecOnlyResonance.toFixed(0) }}</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                        </tr>
                        <tr style="background: #cb8787">
                            <td><b>Беннет</b></td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">{{ Bennett.HealPerTick.toFixed(0) }}</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">{{ Bennett.AP.toFixed(0) }}</td>
                        </tr>
                        <tr style="background: #87cbba">
                            <td><b>Джин</b></td>
                            <td class="text-center">{{ Jean.HealPerAtck.toFixed(0) }}</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">{{ Jean.Heal.toFixed(0) }}</td>
                            <td class="text-center">{{ Jean.HealPerTick.toFixed(0) }}</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                        </tr>
                        <tr style="background: #87cbba">
                            <td class="text-center">Получаемый</td>
                            <td class="text-center">{{ Jean.HealRecPerAtck.toFixed(0) }}</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">{{ Jean.HealRec.toFixed(0) }}</td>
                            <td class="text-center">{{ Jean.HealRecPerTick.toFixed(0) }}</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                        </tr>
                        <tr style="background: #db9eb9">
                            <td><b>Диона</b></td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">{{ Diona.HealPerTick.toFixed(0) }}</td>
                            <td class="text-center">{{ Diona.Shield.toFixed(0) }}</td>
                            <td class="text-center">{{ Diona.LongShield.toFixed(0) }}</td>
                            <td class="text-center">-</td>
                        </tr>
                        <tr style="background: #db9eb9">
                            <td class="text-center">Получаемый</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">{{ Diona.HealRecPerTick.toFixed(0) }}</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                        </tr>
                        <tr style="background: #dbcb9e">
                            <td><b>Ноэль</b></td>
                            <td class="text-center">{{ Noelle.HealPerAtck.toFixed(0) }}</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">{{ Noelle.Shield.toFixed(0) }}</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                        </tr>
                        <tr style="background: #dbcb9e">
                            <td class="text-center">Получаемый</td>
                            <td class="text-center">{{ Noelle.HealRecPerAtck.toFixed(0) }}</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                        </tr>
                        <tr style="background: #00F0FF">
                            <td><b>Кокоми</b></td>
                            <td class="text-center">0 (в ульте)</td>
                            <td class="text-center">-</td>
                            <td class="text-center">0</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                        </tr>
                        <tr style="background: #00F0FF">
                            <td class="text-center">Получаемый</td>
                            <td class="text-center">0 (в ульте)</td>
                            <td class="text-center">-</td>
                            <td class="text-center">0</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                        </tr>
                        <tr style="background: #b9c">
                            <td><b>Сара</b></td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">{{ Sara.AP.toFixed(0) }} СА <span v-if="Sara.constellation == 6" class="color: #fff">+ {{ Sara.CE }}% электро крита</span></td>
                        </tr>
                        <tr style="background: #adcc99">
                            <td><b>Саю</b></td>
                            <td class="text-center">{{ Sayu.HealPerAtck.toFixed(0) }}</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">{{ Sayu.Heal.toFixed(0) }}</td>
                            <td class="text-center">{{ Sayu.HealPerTick.toFixed(0) }}</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                        </tr>
                        <tr style="background: #adcc99">
                            <td class="text-center">Получаемый</td>
                            <td class="text-center">{{ Sayu.HealRecPerAtck.toFixed(0) }}</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">{{ Sayu.HealRec.toFixed(0) }}</td>
                            <td class="text-center">{{ Sayu.HealRecPerTick.toFixed(0) }}</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                        </tr>
                        <tr style="background: #7493b3">
                            <td><b>Син Цю</b></td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">{{ Xingqiu.Heal.toFixed(0) }} за меч</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                        </tr>
                        <tr style="background: #7493b3">
                            <td class="text-center">Получаемый</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">{{ Xingqiu.HealRec.toFixed(0) }}</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                        </tr>
                        <tr style="background: #88baca">
                            <td><b>Ци Ци</b></td>
                            <td class="text-center">{{ Qiqi.HealPerAtck.toFixed(0) }}</td>
                            <td class="text-center">-</td>
                            <td class="text-center">{{ Qiqi.Heal.toFixed(0) }}</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                        </tr>
                        <tr style="background: #88baca">
                            <td class="text-center">Получаемый</td>
                            <td class="text-center">{{ Qiqi.HealRecPerAtck.toFixed(0) }}</td>
                            <td class="text-center">-</td>
                            <td class="text-center">{{ Qiqi.HealRec.toFixed(0) }}</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                        </tr>
                        <tr style="background: #b2986f">
                            <td><b>Чжун Ли (дед)</b></td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">{{ Zhongli.Shield.toFixed(0) }}</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                        </tr>
                        <tr style="background: #27d2e6">
                            <td><b>Шень Хе</b></td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">{{ Shenhe.CE.toFixed(0) }} крио урона + 15% атаки или ешка/ульта</td>
                        </tr>
                        <tr style="background: #e5cd8c">
                            <td><b>Юнь Цзинь</b></td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">{{ Yunjin.Shield.toFixed(0) }}</td>
                            <td class="text-center">-</td>
                            <td class="text-center">{{ Yunjin.AP.toFixed(0) }} ({{ (+Yunjin.AP + Yunjin.t1).toFixed(0) }} / {{ (+Yunjin.AP + Yunjin.t2).toFixed(0) }} / {{ (+Yunjin.AP + Yunjin.t3).toFixed(0) }} / {{ (+Yunjin.AP + Yunjin.t4).toFixed(0) }})</td>
                        </tr>
                        
                    </tbody>
                 </table>
            </div>
<!--            КОНЕЦ ОБЩЕЙ ТАБЛИЦЫ            -->
        </div>
            </div>
<!--            TAB С СОФТОМ                        -->
            <div class="tab-pane fade" id="SoftForWish" role="tabpanel" aria-labelledby="SoftForWish-tab">
                
                <div class="content ml-0">
                    <p class="ml-3">Обновленная версия v0.3 с фиксом бага (спасибо HoYoverse за микрофикс)</p>
                </div>
                <div class="content ml-0">
                    <a href="https://github.com/MrNity/GenshinWish" class="ml-3 mt-3">Ссылка на репозиторий программы</a>
                </div>
                <div class="content ml-0">
                    <a href="/genshin/GenshinWish.exe" class="btn btn-success mt-3 ml-3" download><i class="fa fa-download"></i> Скачать прогу</a>
                </div>
                
            </div>
<!--            END TAB С СОФТОМ                          -->
<!--            TAB С пожеланиями для опроса              -->
            <div class="tab-pane fade" id="wish" role="tabpanel" aria-labelledby="wish-tab">
                <div class="content ml-0">
                    <ul>
                        <li class="unselectable">МИР</li>
<li>- Хотелось бы дополнительные уровни Боевого пропуска как в Honkai Impact 3rd.</li>
<li>- Сделайте сохранение очков Судьбы в оружейном баннере при его смене на новый!!!</li>

<li>- Кнопка для быстрого сбора руды, экспедиций, сделанного декора в чайнике.</li>
<li>- Отдельная кнопка для сухпайка и еще одного инструмента.</li>
<li>- Возможность прервать диалог, не заканчивая его.</li>
<li>- Готовность элементального навыка на экране, по аналогии со взрывом стихий.</li>
<li>- Визуальный эффект длительности баффов от еды и зелий, чтобы видеть когда он закончится.</li>
<li>- Визуализация шкалы прочности щита над шкалой хп.</li>
<li>- Выбирать пачки для бездны как в быстром доступе при смене отряда, чтобы персонажи помечались цифрами 1-2-3-4 и менять первых не меняя порядок последних.</li>
<li>- Выбирать своих персонажей для пачки в тестовых забегах к тестируемому.</li>
<li>- Возможность блокировать выпадение одного легендарного персонажа или оружия, чтобы не выпадало со стандартного баннера или при проигрыше с ивентового.</li>

<li class="unselectable">---</li>
<li>- Добавьте больше выражений лица и поз персонажам в режиме камеры.</li>
<li>- Ивенты связанные с боем слишком сложные для новичков или людей не имеющих большое количество персонажей.</li>
<li class="unselectable">---</li>
<li>- Расширьте количество слотов для добавления друзей.</li>
<li>- Расширьте количество меток на карте.</li>
<li>- Расширьте количество слотов на стенде в профиле для персонажей и именных карточек.</li>
<li>- Сделайте возможность телепортации на ПК быстрым нажатием (ПКМ или двойное нажатие ЛКМ), чтобы не выбирались ближайшие метки.</li>
<li>- Сделайте возможность ставить временные метки на карте (пинговать) в кооперативном режиме, которые будут видеть все члены отряда.</li>
<li>- Добавьте возможность сохранять группы артов/быстро менять пачками арты между персонажами.</li>
<li>- Сделайте сортировку в автоматической загрузке артов от лучшего качество до худшего при вливании их в другие арты и наоборот.</li>

<!--<li>- Добавьте переносную табуретку чтобы можно было сидеть в любом месте мира.</li>-->

<li class="unselectable">ЧАЙНИК БЕЗМЯТЕЖНОСТИ</li>

<li>- Иконки ног, как у мест для сидения, в какую сторону будет заспавнен персонаж на телепортах в чайнике.</li>
<li>- Добавьте предметы с поворотом по вертикальной оси.</li>
<li>- Возможность отзеркаливать предметы в чайнике.</li>


<li class="unselectable">---</li>
<li class="unselectable">МУСОР ПО ЖЕЛАНИЮ</li>
<li>- Уменьшить время отката смолы, 8 минут это очень долго. И увеличить хотя бы до 180 лимит.</li>
<li>- Возможность гладить животных.</li>
<li>- Нагрузка в чайнике требует доработки.</li>
<li>- Система садоводства оставляет желать лучшего, грядок мало, урожай собирать не очень удобно, ассортимент для выращивания не большой.</li>



                    </ul>
                </div>
            </div>
<!--            END TAB С пожеланиями для опроса          -->
<!--            TAB С полезными ссылками                  -->
            <div class="tab-pane fade" id="links" role="tabpanel" aria-labelledby="links-tab">
                <div class="content ml-0">
                    <ul>
                        <h4>ПАТЧ 2.6</h4>
                        <li><a href="https://www.hoyolab.com/article/4032598" target="_blank">[Путеводитель] Новые задания мира 2.6 и где их искать (без спойлеров прохождения)</a></li>
                        <li><a href="https://www.hoyolab.com/article/4030020" target="_blank">[Гайды 2.6] Новые скрытые достижения (в процессе)</a></li>
                        <li><a href="https://www.hoyolab.com/article/4023070" target="_blank">Местонахождение Лучистых кристаллов</a></li>
                        <hr>
                        <h4>Основные оф ссылки</h4>
                        <li><a href="https://webstatic-sea.mihoyo.com/ys/event/signin-sea/index.html?act_id=e202102251931481&lang=ru-ru" target="_blank">Ежедневные отметки</a></li>
                        <li><a href="https://webstatic-sea.mihoyo.com/app/ys-map-sea/?lang=ru-ru#/map/2?shown_types=">Интерактивная карта</a></li>
                        <li><a href="https://webstatic-sea.mihoyo.com/ys/event/calculator-sea/index.html?bbs_presentation_style=fullscreen&bbs_auth_required=true&utm_source=sns&utm_medium=vk#/" target="_blank">Калькулятор прокачки персонажей</a></li>
                        <h4>Доп ссылки</h4>
                        <li><a href="https://paimon.moe/wish/" target="_blank">Paimon.moe для сохранения круток и тд</a></li>
                        <li><a href="https://chrome.google.com/webstore/detail/genshin-impact-daily-chec/egjaodonpaepmffoecblgjfffoidlgkc/related?hl=ru" target="_blank">Расширение для автосбора ежедневных отметок</a></li>
                        <li><a href="https://www.gensh.in/events/gacha-banners" target="_blank">Последовательность баннеров</a></li>
                        <li><a href="https://genshin-impact.fandom.com/ru/wiki/%D0%9F%D0%BE%D1%80%D1%83%D1%87%D0%B5%D0%BD%D0%B8%D1%8F#.D0.98.D0.BD.D0.B0.D0.B4.D0.B7.D1.83.D0.BC.D0.B0" target="_blank">Поручения</a></li>
                        <li><a href="https://genshin-impact.fandom.com/ru/wiki/%D0%95%D0%B4%D0%B0" target="_blank">Вся еда</a></li>
                        <li><a href="https://shinshin.moe/" target="_blank">Генератор карточек персонажей</a></li>
                        <li><a href="https://www.myinstants.com/search/?page=1&name=genshin" target="_blank">Геншин Саундбоард</a></li>
                        <li><a href="https://genshin.aspirine.su/" target="_blank">Калькулятор по геншину</a></li>
                        <li><a href="https://www.youtube.com/watch?v=mn4Dz1v5ut0&ab_channel=Nuke73" target="_blank">Видео гайд от Нюка по калькулятору</a></li>
                        <hr>
                        <h4>Форумные ссылки на гайды и пр.</h4>
                        <li><a href="https://www.hoyolab.com/genshin/article/580540" target="_blank">Скрытые достижения 2.0</a></li>
                        <li><a href="https://www.hoyolab.com/genshin/article/797555" target="_blank">Скрытые достижения 2.1</a></li>
                        <li><a href="https://www.hoyolab.com/genshin/article/809175" target="_blank">Ежедневные активности для сундуков и достижений в Инадзуме 2.1</a></li>
                        <li><a href="https://www.hoyolab.com/article/1891273" target="_blank">[Путеводитель] Рецепты 2.3/2.4 и где их найти</a></li>
                        <hr>
                        <li><a href="https://www.hoyolab.com/article/1864273" target="_blank">[Версия 2.4] Локальное Задание: «Особая удача» + скрытое достижение «SYUUMATSU GAIDEN» + 1 роскошный сундук</a></li>
                        <li><a href="https://www.hoyolab.com/article/1877873" target="_blank">Загадки Энканомии (Где посидеть)</a></li>
                        <li><a href="https://www.hoyolab.com/article/1877043" target="_blank">Достижение «Прямо в яблочко!»</a></li>
                        <hr>
                        <li><a href="https://www.hoyolab.com/article/1895223" target="_blank">Маршрут по артефактам (только богатые места) плюс видео</a></li>
                        <li><a href="https://www.hoyolab.com/article/1891997" target="_blank">V2.4 Где найти книги? Мировой квест "Собрание драконов и змей " Энканомия. Инадзума</a></li>
                        <li><a href="https://www.hoyolab.com/article/1878020" target="_blank">[Inazuma 2.4] Задания "Собрание драконов и змей" и достижение "Если б Токоё узнал..."</a></li>

<!--
                        <hr>
                        <li><a href="ыыы" target="_blank">sss</a></li>
                        <li><a href="ыыы" target="_blank">sss</a></li>
                        <li><a href="ыыы" target="_blank">sss</a></li>
                        <li><a href="ыыы" target="_blank">sss</a></li>
                        <li><a href="ыыы" target="_blank">sss</a></li>
-->
                        
                    </ul>
                </div>
            </div>
<!--            END TAB С полезными ссылками          -->
<!--            TAB С кеками                          -->
            <div class="tab-pane fade" id="keki" role="tabpanel" aria-labelledby="keki-tab">
                <div class="content ml-0">
<!--                    <iframe src="https://docs.google.com/spreadsheets/d/1DPJOtHTLB_y-MTcUheSBrMPFvV_EtBlcYA6Xy1F0R_c/edit?pli=1#gid=472936237" frameborder="0" height="905" width="100%"></iframe>-->
                </div>
            </div>
<!--            END TAB С кеками                      -->
<!--            TAB С билдами                         -->
<!--
            <div class="tab-pane fade" id="builds" role="tabpanel" aria-labelledby="builds-tab">
                <div class="content ml-0">
                    
                    
                    
                    
                </div>
            </div>
-->
<!--            END TAB С билдами                      -->
<!--            TAB С видосами                         -->
            <div class="tab-pane fade" id="videos" role="tabpanel" aria-labelledby="videos-tab">
                <div class="content ml-0">
                    <div class="col-8">
                        <label for="LinkVideo">Вставьте URL видео</label>
                        <input type="text" class="form-control " v-model="link" id="LinkVideo">
                    </div>
                    <div class="col mt-2">
                        <video v-show="link != ''" width="1280" height="720" controls :src="link"></video>
                    </div>
                </div>
            </div>
<!--            END TAB С видосами                      -->
        </div>
       
       
       
       
       
       
       
       
    </div>
    
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- JS, Popper.js, and jQuery -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>

<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>-->

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    
    
    <script src="chars/barbara.js"></script>
    <script src="chars/bennett.js"></script>
    <script src="chars/jean.js"></script>
    <script src="chars/diona.js"></script>
    <script src="chars/kokomi.js"></script>
    <script src="chars/noelle.js"></script>
    <script src="chars/sara.js"></script>
    <script src="chars/sayu.js"></script>
    <script src="chars/qiqi.js"></script>
    <script src="chars/shenhe.js"></script>
    <script src="chars/yunjin.js"></script>
    <script src="chars/zhongli.js"></script>
    
    
    
    
    
    
    <script src="main.js"></script>
    
</body>
</html>